services:

  backend:
    image: nightcodex/dns-route-analyzer:backend
    ports:
      - target: 5000
        published: 5000
        protocol: tcp
        mode: ingress
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    networks:
      - dnsnet

  ai-agent:
    image: nightcodex/dns-route-analyzer:ai-agent
    ports:
      - target: 5001
        published: 5001
        protocol: tcp
        mode: ingress
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    networks:
      - dnsnet

  frontend:
    image: nightcodex/dns-route-analyzer:frontend
    ports:
      - target: 80
        published: 3000
        protocol: tcp
        mode: ingress
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    networks:
      - dnsnet

networks:
  dnsnet:
    driver: overlay